/** {
	border: 1px solid red;
}*/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-header {
	width: 100%;
	height: 400px;
	background: url('/images/bwmountain.jpg') no-repeat;
	background-size: cover;
	background-position: bottom;
}

.info-container {
	width: 80%;
	max-width: 500px;
	height: 80%;
	margin: 0 auto;
	padding-top: 50px;
	box-sizing: border-box;
}

.info__name {
	margin: 0 auto;
	text-align: center;
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	line-height: 1em;
}

.info__sub {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

.info__social {
	width: 100%;
	overflow: auto;
	box-sizing: border-box;
	margin-top: 10px;
}

.info__social ul {
	padding: 0;
	text-align: center;
}

.info__social li {
	display: inline-block;
}

.social--link, .social--link a {
	overflow: auto;
}

.social--icon {
	width: 60px;
	height: 60px;
	text-align: center;
	padding-top: calc(65px / 4);
	background: #fff;
	color: #525453;
}

@-webkit-keyframes socialHover {
	to {
		background: #525453;
		color: #fff;
	}
}

@-moz-keyframes socialHover {
	to {
		background: #525453;
		color: #fff;
	}
}

@-ms-keyframes socialHover {
	to {
		background: #525453;
		color: #fff;
	}
}

@keyframes socialHover {
	to {
		background: #525453;
		color: #fff;
	}
}

.social--icon:hover {
	-webkit-animation: socialHover .5s;
	-moz-animation: socialHover .5s;
	-ms-animation: socialHover .5s;
	animation: socialHover .5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.arrow-down {
	margin: 0 auto;
  font-size: 20px; /*set the size for arrow*/
  width: 4em;
	height: 4em;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	transform: rotate(-135deg);
}

.bio-container {
	width: 100%;
	background: #000;
	box-sizing: border-box;
	color: #fff;
	padding: 20px;
}

.bio-container p {
	font-size: 2em;
}

.bio-container li {
	font-size: 1.5em;
}

.bio, .skills {
	width: 100%;
}

.contact {
	width: 100%;
	background: #fff;
}

.contact__container {
	width: 95%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;
	max-width: 500px;
	text-align: center;
}

.contact__container input {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	border: none;
	border-bottom: 1px solid #525453;
	padding-left: 10px;
}

.contact__container textarea {
	width: 100%;
	border: none;
	border: 1px solid #525453;
	margin: 10px 0;
	padding-left: 10px;
	padding-top: 10px;
}

.contact__container input:focus, .contact__container textarea:focus {
	outline: 0;
}

.email-submit-btn {
	border-radius: 0;
	width: 100%;
	height: 50px;
	appearance: none;
	box-shadow: none;
	border: 1px solid #525453;
	background: #fff;
	color: #525453;
	font-size: 1.25em;
}

.email-submit-btn:hover {
	-webkit-animation: socialHover .5s;
	-moz-animation: socialHover .5s;
	-ms-animation: socialHover .5s;
	animation: socialHover .5s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.main-footer {
	width: 100%;
	height: 20px;
	background: #000;
}